<div class="container-body">
	<mat-toolbar color="primary">
		<button mat-icon-button>
			<mat-icon>menu</mat-icon>
		</button>
			<span class="spacer-links">CRM</span>
			<span class="spacer-links">Pessoas</span>
			<span class="spacer-links">Notícias</span>
			<span class="spacer-links">Blog</span>
		<span class="spacer-toolbar-icons"></span>
		<button mat-icon-button>
			<mat-icon>account_circle</mat-icon>
		</button>
		<button mat-icon-button>
			<mat-icon>eco</mat-icon>
		</button>
		<button mat-icon-button>
			<mat-icon>share</mat-icon>
		</button>
	</mat-toolbar>
	<ng-content></ng-content>
	<mat-toolbar color="primary" class="footer">
		<span class="spacer-links">Footer</span>
	</mat-toolbar>
</div>